@media screen and (max-width: 1130px) {

		.core-services-items {
		width: 760px;
		margin: 0 auto;
		margin-top: 140px;
	}

	.portfolio-item-hover h3 {
		font-size: 25px;
		line-height: 40px;
	}

	.portfolio-item-hover p {
		font-size: 15px;
		line-height: 20px;
	}


	.services-items {
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;		
		justify-content: space-around;
	}



	.team-items {
		flex-direction: column;
	}

	.team-item {
		margin-bottom: 20px;
	}
}



@media screen and (max-width: 960px ) {

	body {
		overflow-x: hidden;
	}
	.header-top {
		-webkit-box-orient: vertical;
		flex-direction: column;
	}

	.menu-nav {
		padding-left: 0;
	}

	.header-bottom h1 {
		font-size: 130px;
	}

	.portfolio {
		height: 1700px;
	}

	.portfolio-items {
	grid-template-rows: 450px 450px 450px;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

	.portfolio-item-1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.portfolio-item-2 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
}

.portfolio-item-3 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 2;
}

.portfolio-item-4 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
}

.portfolio-item-5 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
}

.portfolio-item-6 {
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 3;
}

	.portfolio-item-5 .portfolio-item-hover h3 {
		font-size: 15px;
		line-height: 20px;
	}

	.portfolio-item-5 .portfolio-item-hover p {
		font-size: 10px;
		line-height: 10px;
	}

	.portfolio-item-5 .portfolio-item-hover a {
		padding: 5px 10px;
		font-size: 10px;
	}

	    .slider__item {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }

}

@media screen and (max-width: 800px) {


		.core-services-items {
		width: 380px;
		margin: 0 auto;
		margin-top: 140px;
	}


	.stats-items {
		margin: 0 auto;
		-webkit-box-orient: vertical;
		flex-direction: column;
	}



	h2.main-headline {
		font-size: 24px;
		line-height: 40px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.portfolio {
		height: 2250px;
	}

	.portfolio-nav {
		flex-wrap: wrap;
		width: 400px;
		justify-content: space-around;
		height: 130px;
	}

	.portfolio-nav li:last-child {
		margin-right: 38px;
	}

	.portfolio-nav li:nth-child(4) {
		margin-left: 38px;
	}

	.main-p {
		width: 550px;
	}

		.portfolio-items {
	grid-template-rows: 450px 450px 450px 450px;
	grid-template-columns: 33.3333333% 33.3333333% 33.3333333%;
}

	.portfolio-item-1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
}

.portfolio-item-2 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
}

.portfolio-item-3 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
}

.portfolio-item-4 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
}

.portfolio-item-5 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
}

.portfolio-item-6 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
}

	.portfolio-item-5 .portfolio-item-hover h3 {
		font-size: 20px;
		line-height: 20px;
	}

	.portfolio-item-5 .portfolio-item-hover p {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 20px;
	}

	.portfolio-item-5 .portfolio-item-hover a {
		padding: 5px 10px;
		font-size: 10px;
		line-height: 0px;
	}

		.portfolio-item-1 .portfolio-item-hover h3 {
		font-size: 20px;
		line-height: 20px;
	}

	.portfolio-item-1 .portfolio-item-hover p {
		font-size: 15px;
		line-height: 20px;
	}

	.portfolio-item-1 .portfolio-item-hover a {
		padding: 5px 10px;
		font-size: 14px;
	}
	
	.join-us form {
		width: 460px;
		text-align: center;
	}

	.join-us input[type='text'] {
		margin-bottom: 25px;
	}

	.join-us input[type='text'] {
		margin-right: 0;
	}

	.clients {
		padding-left: 15px;
		padding-right: 15px;
		overflow: hidden;
	}

	.clients .main-p {
	width: 450px;
}

		.slider__item {
      flex: 0 0 50%;
      max-width: 50%;
    }
}


/**/
.menu input[type="checkbox"] {
	display: none;
}

.menu label.toggleName {
	background: none;
	border: 1px solid #ffffff;
	color: #ffffff;
	display: none;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	position: relative;
}

.menu label.toggleName .fas{
	position: absolute;
	top: 14px;
	left: 10px;
	font-size: 18px;
}

@media screen and (max-width: 580px) {


	.menu {
		overflow: hidden;
	}

	.menu-nav {
		width: 90px;
		display: block;
		max-height: 0;
	}

	.menu-nav li a {
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.menu-nav a::after {
		top: 40px;
	}

	.header-top label.toggleName {
		display: block;
	}

	input.toggleName:checked + label.toggleName {
		border: none;
	}

	input.toggleName:checked ~ .menu-nav {
		display: block;
		width: 110px;
		text-align: center;
		max-height: 1000px;
		-webkit-transition: max-height 0.5s ease-in;
		-ms-transition: max-height 1s ease-in;
		transition: max-height 1s ease-in;
		z-index: 1;
	}
	.header-top {
		height: 480px;
	}

	.header-bottom h1 {
		font-size: 80px;
	}

		.main-p {
		width: 400px;
	}

	.portfolio {
		height: 2850px;
	}

	.portfolio-items {
	grid-template-rows: 400px 400px 400px 400px 400px 400px ;
	grid-template-columns: 100%;
}

	.portfolio-item-1 {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.portfolio-item-2 {
	grid-column-start: 1;
	grid-row-start: 2;
}

.portfolio-item-3 {
	grid-column-start: 1;
	grid-row-start: 3;
}

.portfolio-item-4 {
	grid-column-start: 1;
	grid-row-start: 4;
}

.portfolio-item-5 {
	grid-column-start: 1;
	grid-row-start: 5;
}

.portfolio-item-6 {
	grid-column-start: 1;
	grid-row-start: 6;
}

	.portfolio-item-1 .portfolio-item-hover h3,
	.portfolio-item-5 .portfolio-item-hover h3 {
	font-size: 30px;
	line-height: 66px;
	}

	.portfolio-item-1 .portfolio-item-hover p,
	.portfolio-item-5 .portfolio-item-hover p {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 50px;
	}

	.portfolio-item-1 .portfolio-item-hover a,
	.portfolio-item-5 .portfolio-item-hover a  {
	font-size: 16px;
	line-height: 26px;
	}

	.join-us h2 {
		line-height: 55px;
	}
	.join-us .main-p {
		width: 350px;
	}


	.clients .main-p {
	width: 350px;
}
	.join-us form {
		width: 380px;
	
	}


.join-us input[type='text'] {
	width: 280px;
}


}




@media screen and (max-width: 460px ) {

			    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .join-us {
    	padding-right: 10px;
    	padding-left: 10px;
    }

    .join-us input[type='text'] {
    	width: 230px;
    	padding-left: 20px;
    	padding-right: 20px;
    }
    	.join-us .main-p {
	width: 250px;
	}

	.join-us form {
		width: 270px;
	}


}