body {
	font-family: 'Vidaloka', serif;
}

@font-face {
	font-family: Backtoblack;
	src: url(../fonts/BacktoBlack.otf);
	src: url(../fonts/BacktoBlack.ttf);
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header-page {
	background: url(../images/bg0.png),
	url(../images/bg.jpg) ;
	background-size: cover;
	background-position: center center;
}

.header-top {
	max-width: 1140px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	border-bottom: 1px solid #dfdfdf;
		-ms-justify-content: space-between;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center;
	padding-top: 15px;
}



.menu-nav {
	list-style: none;
	display: -webkit-box;
	display: -ms-flex;
	display: flex;
	-ms-box-direction: row;
	flex-direction: row;
	width: 560px;
	-ms-justify-content: space-around;
	-webkit-box-pack: space-around;
	justify-content: space-around;

}


.menu-nav li {
	margin-right: 10px;
}

.menu-nav a {
	display: inline-block;
	padding-bottom: 32px;
	padding-top: 32px;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff

}

.menu-nav a:hover,
.menu-nav a:focus {
	color: #ffeb3b;
}


.menu-nav a::after {
	position: absolute;
	top: 98px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #ffeb3b;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	-ms--transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menu-nav a:hover::after,
.menu-nav a:focus::after {
	height: 1px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	color: #ffeb3b;
}

.search-field {
	position: relative;
}

.search-field input[type='search']{
	background: rgba(0,0,0,0.1);
	background-position:90% 50% ;
	background-repeat: no-repeat;
	border: none;
	border-radius: 10px;
	width: 165px;
	height: 40px;
	color: #ffffff;
	font-size: 15px;
	outline: none;
	padding: 5px 10px;
}

.search-field input[type='submit'] {
	all: unset;
	color:#ffffff;
	transform: scale(1.5);
	position: absolute;
	right: 10px;
	top: 11px;
	cursor: pointer;
}

.search-field input:focus {
	background-color: rgba(0,0,0,0.4);
}


.header-bottom {
	text-align: center;
	padding-bottom: 260px;
}

.header-bottom h1 {
	font-family: Backtoblack, sans-serif;
	color: #ffffff;
	line-height: 270px;
	font-size: 200px;
}

/*//////////////////core-services//////////*/

.core-services {
	padding-top: 100px;
	padding-bottom: 150px;
}

h2.main-headline {
	font-size: 33px;
	line-height: 60px;
	margin: 0 auto;
	text-align: center;
}


.core-services-items {
	display: -webkit-box;
	display: -ms-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-webkit-shrink-grow: 2;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 140px;
	-webkit-flex-basis: 295px;
	flex-basis: 295px;
}

.core-services-item {
	padding-left: 95px;
	position: relative;
	margin-bottom: 80px
}



.core-services-item p {
	width: 275px;
	line-height: 24px;
	font-size: 13px;
	color: #969595;
}

 .core-services-icon {
 	position: absolute;
 	top: 15px;
 	left: 0;
 }

.core-services-item p::after {
 	height: 90px;
 	width: 1px;
 	background-color: #dfdfdf;
 	position: absolute;
 	left: 70px;
 	top: 20px;
 	content: '';
 }

 .core-services-item:hover .core-services-icon{
	-webkit-filter: invert(1);
 	filter: invert(1);
 	stroke: #000
 }

 /*////////////// stats //////////////*/

 .stats {
 	background-color: #25272b;
 	padding: 85px 10px;
 }

 .stats-items {
 	display: -webkit-box;
 	display: -webkit-flex;
 	display: -ms-flex;
 	display: flex;
	-webkit-box-pack: justify;
	-ms-justify-content: space-between;
 	justify-content: space-between;
 	-webkit-flex-basis: 292px;
	flex-basis: 292px;
	text-align: center;
 }

.stats-item {
   	display: -webkit-box;
 	display: -ms-flex;
 	display: flex;
	-webkit-box-pack: justify;
	-ms-justify-content: space-between;
 	justify-content: space-between;
 	-webkit-box-orient: vertical;
 	-webkit-box-orient: column;
 	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-align-items: center;
	align-items: center;
	height: 230px;	
  }
.stats-item>b {
	color: #ffffff;
	font-size: 60px;
}

.stats-item>span {
	color: #ffeb3b;
	font-size: 20px;
	line-height: 76px;
	text-transform: uppercase;
}

.stats-item>img {
	text-align: center;
}


/*////////// portfolio /////////*/ 

.portfolio {
	padding-top: 120px;
	padding-bottom: 1px;

}

.main-p {
	width: 750px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	color: #969595;
	font-family: 'Open Sans', sans-serif;
}

.portfolio-nav {
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 120px;
	padding-left: 0;
	list-style: none;
	width: 696px;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flex;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	justify-content: space-between;

}

.portfolio-nav li a {
	padding: 13px 38px;
	border: 2px solid #ffda00;
	color: #000000;
}

.portfolio-nav li a:hover {
	background-color: #ffda00;
}

.portfolio-items {
	display: grid;
	grid-template-rows: 450px 450px;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.portfolio-item {
	margin: 0;
	position: relative;
}

.portfolio-item-1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	background: url(../images/portfolio/1.jpg);
	background-size: cover;
	background-position: center ;
}

.portfolio-item-2 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	background: url(../images/portfolio/2.jpg);
	background-size: cover;
	background-position: center center;
}

.portfolio-item-3 {
	grid-column-start: 6;
	grid-column-end: 9;
	grid-row-start: 1;
	background: url(../images/portfolio/3.jpg);
	background-size: cover;
	background-position: center;
}

.portfolio-item-4 {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	background: url(../images/portfolio/4.jpg);
	background-size: cover;
	background-position: center;
}

.portfolio-item-5 {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 2;
	background: url(../images/portfolio/5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.portfolio-item-6 {
	grid-column-start: 7;
	grid-column-end: 9;
	grid-row-start: 2;
	background: url(../images/portfolio/6.jpg);
	background-size: cover;
	background-position: center;
}

.portfolio-item-hover {
	background-color: rgba(255,218,0, 0.8);
	height: 100%;
	position: absolute;
	display: none;
}

.portfolio-description {
	padding: 40px;
}

.portfolio-item-hover h3 {
	font-size: 30px;
	line-height: 30px;
}

.portfolio-item-hover p {
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
}

.portfolio-item-hover a {
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	border: 2px solid black;
	padding: 10px 35px;
	color: #000000;
	
}

.portfolio-item-hover a:hover {
	background: #f0cd00;
}

.portfolio-item:hover .portfolio-item-hover {
	display: block;
}


/*////// services /////*/ 
 .services {
 	padding-top: 145px;
 	padding-bottom: 150px;
 }

 .services-items {
 	margin-top: 125px;
	 	display: -webkit-box;
	 	display: -webkit-flex;
	 	display: -ms-flex;
	 	display: -moz-flex;
 	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
 }

 .services-item {
 	width: 300px;
 	height: 160px;
 	padding: 70px 30px;
 	margin-bottom: 30px;
 	text-align: center;
 	color: #ffffff;
 	font-family: 'Open sans', sans-serif;
 	font-size: 15px;
 }

  .services-item p {
  	margin-bottom: 40px;
  }

  .services-item:hover {
  	transform: scale(1.1);
  	transition: 0.2s ease
  }

  .services-item a {
  	text-decoration: underline;
  	color: #ffda00;
  	hover {
  		text-decoration: none;
  	}
  }

	  .services-item:nth-child(5),
	  .services-item:nth-child(5) a  {
			color: #000000;
	  }

	  .services-item a:hover {
  		text-decoration: none;
  	}

/*//// clients */
.clients {
	padding-top: 120px;
	padding-bottom: 110px;
	background: #191b20;
}

.clients .main-headline,
.clients .main-p {
	text-align: left;
	margin-left: 0;
	width: 920px;
	color: #ffffff;
}

.clients .main-p {
	width: 750px;
}

/*slider*/

.slider {
	  position: relative;
      overflow: hidden;
      text-align: center;
      margin-top: 90px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 1s ease;
    }

    .slider__item {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }



/*///// team ////*/

.team {
	padding-top: 125px;
	padding-bottom: 170px;
}

.team .main-p {
	margin-bottom: 110px;
	width: 430px;
}

.team-items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;
	flex-basis: 370px;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	text-align: center;
}

.team-item p {
	width: 300px;
	margin: 0 auto;
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #969595;
	margin-top: 20px;
}

.team-item img {
	margin-bottom: 20px;
}

.team-social {
	list-style: none;
	margin: 0 auto;
	margin-top: 50px;
	padding: 0;
	width: 150px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	text-align: center;
}

.team-social a {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid #dadada;
	position: relative;
}

.team-social a:hover {
	background: #ffeb3b;
	border: 1px solid #ffeb3b;
}
.team-social a:hover img {
	-webkit-filter: sepia(1);
	-ms-filter: sepia(1);
	-moz-filter: sepia(1);
	filter: sepia(1);
}

.team-social li:first-child img {
	position: absolute;
	top: 10px;
	left: 13px;
}
.team-social img {
	position: absolute;
	top: 11px;
	left: 10px;
}

/*/////// join us ////*/ 
.join-us {
	padding-top: 145px;
	padding-bottom: 110px;
	background-color: #333740;
}


.join-us  h2{
	font-size: 51px;
	line-height: 20px;
	text-align: center;
	color: 	#ffffff;
}

.join-us .main-p {
	width: 480px;
}

.join-us form {
	width: 630px;
	margin: 0 auto;
	margin-top: 60px;
}

.join-us input {
	padding: 15px 50px;
	border: none;
}

.join-us input[type='text'] {
	width: 	360px;
	background: #5b5d65;
	outline: none;
	margin-right: 20px;
		color: #ffffff;
	font-size: 15px;
}

.join-us input[type='submit'] {
	background: #ffeb3b;
	text-transform: uppercase;
	cursor: pointer;
}

.join-us input[type='submit']:hover {
	background: #ffe500;
}

.footer-page {
	padding-top: 40px;
	padding-bottom: 50px;
	background: #24272e;
	text-align: center;
	color: #ffffff;
}

.protect {
	margin-bottom: 40px;
	margin-top: 40px;
}

.footer-page .footer-social {
	list-style: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	width: 110px;
	margin: 0 auto;
	align-items: center;
}

.protect span {
	color: #ffeb3b;
}

